:root{
    --c1:#610bd9;
    --bg:;
}

*{
    margin: 0;
box-sizing: border-box;
}



body{
    font-family: sans-serif;

    max-width: 1200px;
    margin: 10px auto;
    min-height: 100vh;
    background: linear-gradient(45deg, #EEE, #EFEFEF);
}



a{
    text-decoration: none;
    color:black;
}

p a{ text-decoration: underline;}

img{ max-width: 100%;}

nav ul{ list-style: none;}


/* flex */
nav ul,
.galeria,
.flex{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    justify-content: space-between;
}

header .preheader nav ul{
    justify-content:flex-end;
    gap:20px;
    
}

header #header{
    justify-content:space-between;
}

header .mainmenu{
    gap:30px;
    font-size:20px;
}

header{ margin-bottom:30px;}





footer{
    margin-top: 120px;
    padding-top: 60px;
    border-top:2px solid grey;
}


footer .web-map {
    margin-top:60px;
}

footer .web-map nav ul{
    flex-direction:column;
    gap:0;
}



footer .web-map a{
    opacity:0.5;
    padding-left:10px;
}